<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>星空影院后台管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/font.css">
	<link rel="stylesheet" href="./css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
</head>
<body>
    <form class="layui-form" action="/member-level-upd" method="post">
        <div class="layui-form-item">
            <label for="level-id" class="layui-form-label">
                id
            </label>
            <div class="layui-input-inline">
                <input type="text" id="level-id" name="levelId" disabled="" th:value="${membership_level.levelId}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="level-name" class="layui-form-label">
                <span class="x-red">*</span>等级名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="level-name" name="type" required="" lay-verify="required"
                autocomplete="off" th:value="${membership_level.type}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="level-kiss" class="layui-form-label">
                <span class="x-red">*</span>优惠额度
            </label>
            <div class="layui-input-inline">
                <input type="text" id="level-kiss" name="gradeIscount" required="" th:value="${membership_level.gradeIscount}"  lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
           <!-- <button  class="layui-btn" lay-filter="save" lay-submit="">
                保存
            </button>-->
            <input type="submit" class="layui-btn" lay-filter="save" lay-submit="" th:value="修改">
        </div>
    </form>

</body>
</html>