<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>星空影院后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>

</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="./index.html">星空影院</a></div>
    <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;" th:text="${session.name}">admin</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">个人信息</a></dd>
                <dd><a href="">切换帐号</a></dd>
                <dd><a th:href="@{/doLogout}">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/">前台首页</a></li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li class="list" current>
                    <a href="./index.html">
                        <i class="iconfont">&#xe761;</i>
                        欢迎页面
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                <li class="list">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe70b;</i>
                        会员管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li class="current">
                            <a href="member-list.html">
                                <i class="iconfont">&#xe6a7;</i>
                                用户列表
                            </a>
                        </li>
                        <li>
                            <a href="member-level.html">
                                <i class="iconfont">&#xe6a7;</i>
                                等级管理
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list" >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe761;</i>
                        商品管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="/commodity">
                                <i class="iconfont">&#xe6a7;</i>
                                商品列表
                            </a>
                        </li>
                        <li>
                            <a href="/addcommodity">
                                <i class="iconfont">&#xe6a7;</i>
                                商品增加
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list" >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        订单统计
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" style="display:none">
                        <li>
                            <a href="/toshowSale">
                                <i class="iconfont">&#xe6a7;</i>
                                数据详情
                            </a>
                        </li>
                        <li>
                            <a href="/toShowMovieInfoByDay">
                                <i class="iconfont">&#xe6a7;</i>
                                时间详情
                            </a>
                        </li>
                        <li>
                            <a href="/showData">
                                <i class="iconfont">&#xe6a7;</i>
                                饼图
                            </a>
                        </li>

                    </ul>
                </li>
                </li>
            </ul>
        </div>
    </div>
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <form class="layui-form xbs" action="/member-list.html">
                <div class="layui-form-pane" style="text-align: center;">
                    <div class="layui-form-item" style="display: inline-block;">
                        <div class="layui-input-inline xbs768">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="uname" th:value="${session.uname}" placeholder="请输入用户名"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="submit" class="layui-btn"><i class="layui-icon">&#xe615;</i></input>
                        </div>
                    </div>
                </div>
            </form>
            <xblock>
                <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button>-->
                <!--<button class="layui-btn" onclick="member_add('添加用户','member-add.html','600','500')"><i class="layui-icon">&#xe608;</i>添加</button>-->
                <span class="x-right" style="line-height:40px" th:text="'共'+${userPageInfo.total }+'条记录'"></span>
            </xblock>
            <table class="layui-table">
                <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        用户名
                    </th>
                    <th>
                        密码
                    </th>
                    <th>
                        手机号
                    </th>
                    <th>
                        会员等级
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${userPageInfo.list}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.uname}"></td>
                    <td><input type="password" th:value="${user.upassword}" disabled="true"></td>
                    <td th:text="${user.uphone}"></td>
                    <td th:if="${user.type==null}" th:text="普通用户"></td>
                    <td th:if="${user.type!=null}" th:text="${user.type}"></td>
                </tr>
                </tbody>
            </table>
            <table>
                <tr>
                    <td><a th:href="@{'member-list.html?pageNumStr='+${userPageInfo.firstPage}}">首页</a></td>
                    <td><a th:href="@{'member-list.html?pageNumStr='+${userPageInfo.prePage}}">上一页</a></td>
                    <td><a th:href="@{'member-list.html?pageNumStr='+${userPageInfo.nextPage}}">下一页</a></td>
                    <td><a th:href="@{'member-list.html?pageNumStr='+${userPageInfo.lastPage}}">尾页</a></td>
                    <td th:text="'共'+${userPageInfo.total }+'条记录'+
            ${userPageInfo.pageNum }+'/'+${userPageInfo.pages }+'页'">
                    </td>
                </tr>
            </table>
            <!--         <table>

                         <tr>
                             <td><a th:href="@{'member-list.html?pageNumStr='+${userPageInfo.firstPage}+'&grade='+${session.grade}+'&uname='+${session.uname}}">首页</a></td>
                             <td><a th:href="@{'member-list.html?pageNumStr='+${userPageInfo.prePage}+'&grade='+${session.grade}+'&uname='+${session.uname}}">上一页</a></td>
                             <td><a th:href="@{'member-list.html?pageNumStr='+${userPageInfo.nextPage}+'&grade='+${session.grade}+'&uname='+${session.uname}}">下一页</a></td>
                             <td><a th:href="@{'member-list.html?pageNumStr='+${userPageInfo.lastPage}+'&grade='+${session.grade}+'&uname='+${session.uname}}">尾页</a></td>
                             <td th:text="'共'+${userPageInfo.total }+'条记录'+
                   ${userPageInfo.pageNum }+'/'+${userPageInfo.pages }+'页'">
                             </td>
                         </tr>
                     </table>-->
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<!-- 底部开始 -->
<!-- <div class="footer">
     <div class="copyright">Copyright ©2017 x-admin v2.3 All Rights Reserved. 本后台系统由X前端框架提供前端技术支持</div>
 </div>-->
<!-- 底部结束 -->
<!-- 背景切换开始 -->
<div class="bg-changer">
    <div class="swiper-container changer-list">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="item" src="./images/a.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/b.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/c.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/d.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/e.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/f.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/g.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/h.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/i.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/j.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="./images/k.jpg" alt=""></div>
            <div class="swiper-slide"><span class="reset">初始化</span></div>
        </div>
    </div>
    <div class="bg-out"></div>
    <div id="changer-set"><i class="iconfont">&#xe696;</i></div>
</div>
<!-- 背景切换结束 -->
<!-- 页面动态效果 -->
<script>

    //批量删除提交
    function delAll() {
        layer.confirm('确认要删除吗？', function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
        });
    }

    /*用户-添加*/
    function member_add(title, url, w, h) {
        x_admin_show(title, url, w, h);
    }

    /*用户-查看*/
    function member_show(title, url, id, w, h) {
        x_admin_show(title, url, w, h);
    }

    // 用户-编辑
    function member_edit(title, url, id, w, h) {
        x_admin_show(title, url, w, h);
    }

    /*密码-修改*/
    function member_password(title, url, id, w, h) {
        x_admin_show(title, url, w, h);
    }
</script>

</body>
</html>